.swiper-pagination-bullet {
  background-color: #ccc !important;
  opacity: 0.3;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #ffab0a !important;
  opacity: 0.8;
  width: 20px;
  border-radius: 20px;
}
