@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  html {
    font-family: inherit;
    scroll-behavior: smooth;
  }
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
  }
  img,
  picture,
  svg,
  video {
    display: block;
    max-width: 100%;
  }
  body {
    min-height: 100vh;
  }
  .buttonMain {
    @apply px-6 py-2 uppercase border rounded-full text-grayLight bg-no-repeat bg-gradient-to-r from-primary to-[#d3d3d3] bg-blend-normal border-primary transition-all hover:bg-gradient-to-l duration-300 shadow-lg;
  }
  .buttonToTop {
    @apply fixed flex items-center justify-center bottom-6 z-20 right-6 h-10 w-10 lg:h-14 lg:w-14 rounded-full text-grayLight bg-no-repeat bg-gradient-to-b from-primary to-[#f5f6f6] bg-blend-normal transition-all  duration-300 hover:scale-125 border border-primary opacity-80 hover:opacity-100 shadow-lg cursor-pointer;
  }
  .heroButton {
    @apply px-6 py-2 uppercase border border-grayLightOp80 rounded-full tracking-widest text-grayDark dark:text-grayLightOp80 transition-all dark:hover:text-grayLight hover:text-[#fff] hover:bg-no-repeat hover:bg-gradient-to-r hover:bg-blend-normal  hover:from-[#d3d3d3] hover:to-primary hover:border-primary;
  }
  .dot {
    @apply min-w-[20px] w-[20px] h-[20px] rounded-full  border border-primary bg-no-repeat bg-gradient-to-b from-[#fff] to-[#d3d3d3] bg-blend-normal transition-all duration-500 shadow-md;
  }
  .timeline:hover > .dot {
    @apply from-primary to-[#fff];
  }
  .timeline:hover > .timeline-time {
    @apply text-primary;
  }
  .timelines {
    @apply after:content-[''] after:absolute after:top-0 after:lg:top-[52px] after:lg:left-0 after:left-[75px] after:w-[5px] after:lg:w-full after:h-full after:lg:h-[5px] after:bg-gradient-to-t after:from-[#ffab0a] after:to-[#d3d3d333] after:z-[1];
  }
  .linkImage {
    @apply before:content-[''] before:absolute before:bottom-0 before:right-0 before:left-0 before:bg-gradient-to-t before:from-[#00000045] dark:before:from-grayDark before:to-[#ffffff00] before:z-[9] before:h-[35%];
  }
  .linkImage:hover > img {
    @apply hover:scale-110 hover:blur-none;
  }
  .buttonProject {
    /* display: none; */
    @apply lg:opacity-100 lg:block w-fit overflow-hidden text-grayDark dark:text-grayLightOp80 dark:border dark:border-grayLightOp80 dark:bg-grayDark transition-all duration-500;
  }
  .buttonProject > * {
    @apply transition-all dark:hover:text-grayLight hover:text-[#fff] hover:bg-no-repeat hover:bg-gradient-to-r hover:lg:bg-gradient-to-t hover:bg-blend-normal  hover:from-[#d3d3d380] hover:to-primary w-full h-full;
  }
  .buttonLinkProject:hover {
    @apply gap-5 tracking-[3px];
  }
}
