@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 27 100% 100%;
    --foreground: 27 5% 10%;
    --card: 27 50% 100%;
    --card-foreground: 27 5% 15%;
    --popover: 27 100% 100%;
    --popover-foreground: 27 100% 10%;
    --primary: 27 96% 61%;
    --primary-foreground: 0 0% 0%;
    --secondary: 27 30% 90%;
    --secondary-foreground: 0 0% 0%;
    --muted: -11 30% 95%;
    --muted-foreground: 27 5% 40%;
    --accent: -11 30% 90%;
    --accent-foreground: 27 5% 15%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 27 5% 100%;
    --border: 27 30% 82%;
    --input: 27 30% 50%;
    --ring: 27 96% 61%;
    --radius: 2rem;
  }
  .dark {
    --background: 27 50% 10%;
    --foreground: 27 5% 100%;
    --card: 27 50% 10%;
    --card-foreground: 27 5% 100%;
    --popover: 27 50% 5%;
    --popover-foreground: 27 5% 100%;
    --primary: 27 96% 61%;
    --primary-foreground: 0 0% 0%;
    --secondary: 27 30% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: -11 30% 25%;
    --muted-foreground: 27 5% 65%;
    --accent: -11 30% 25%;
    --accent-foreground: 27 5% 95%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 27 5% 100%;
    --border: 27 30% 50%;
    --input: 27 30% 50%;
    --ring: 27 96% 61%;
    --radius: 2rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground transition-all duration-500 ease-in-out;
  }
}

@layer components {
  .link__hover {
    @apply font-clashDisplay text-3xl font-bold leading-none tracking-wider duration-1000 md:text-5xl;
  }
  .page-transition {
    @apply translate-y-10 !bg-primary !opacity-0 blur-xl delay-150;
  }
  .dot {
    @apply size-6 min-w-6 rounded-full border border-primary bg-gradient-to-b from-white to-muted bg-no-repeat bg-blend-normal shadow-md transition-all duration-500;
  }
  .timeline:hover > .dot {
    @apply from-primary to-white;
  }
  .timeline:hover > .timeline-time {
    @apply text-primary;
  }
  .timelines {
    @apply after:absolute after:left-[97px] after:top-0 after:z-[1] after:h-full after:w-[5px] after:bg-gradient-to-t after:from-primary after:to-muted/30 after:content-[''];
  }
}
